@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto+Mono:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro:wght@400;700&display=swap");
body {
  background-color: rgba(1, 10, 19, 0.9);
}

header {
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  background-color: rgb(54, 54, 54);
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.logo a {
  text-decoration: none;
  color: white;
}

nav a {
  padding-right: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.9em;
}

.nav-link:hover {
  transform: translateY(-10px);
  transition: 1s;
  border-radius: 10px;
  background-color: rgb(83, 83, 83);
}

/*Formulario*/

.content-form {
  color: #fff;
  line-height: 1.6;
  font-family: "Quicksand", sans-serif;
  padding: 0 1.5em;
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.tit {
  display: flex;
  justify-content: center;
}
.logo {
  text-align: center;
}

.logo span {
  color: #b70e21;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #0f1921;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
}

.contact-form form button {
  background: #b70e21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background: #0f1921;
}

@media (min-width: 700px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
}

@media (max-width: 950px) {
  iframe {
    width: 100%;
  }
}

footer {
  background-color: #003a7e;
  color: white;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
}
.wrap-footer {
  display: grid;
  grid-template-columns: 30% 15% 15% 20%;
  column-gap: 5%;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 1200px;
}
.logo-element_footer {
  display: flex;
  margin: 2rem 0;
}
.logo-element_footer img {
  max-height: 75px;
}
.element-footer h5 {
  margin: 1rem 0;
}
.text-element-footer li {
  line-height: 2;
}
.link-elements-footer li a {
  color: #ffc300;
}
.rrss-element-footer ul {
  display: flex;
  flex-flow: wrap;
}
.rrss-element-footer img {
  width: 35px;
}
.rrss-element-footer li {
  margin-right: 1rem;
}
.footer-creds {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  color: #576171;
  font-size: 0.9rem;
  max-width: 1200px;
  margin: 0 auto;
}
.legal-creds ul {
  display: flex;
  flex-flow: row;
}
.legal-creds ul li {
  padding-right: 1rem;
}
.legal-creds ul a {
  color: #576171;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .wrap-footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .wrap-footer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 320px) {
  .footer-creds {
    flex-flow: column;
  }
}

select {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
}

option {
  color: white;
  display: flex;
}

.elemento {
  background-color: #222222;
}
