button{
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    background: #b70e21;
    border: transparent;
    color: white;
    transition: 1s;
}

button:hover{
    background: #d63031;
    transition: 1s ease;
}